h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

body {
  font-family: Roboto;
}

.container {
  width: 1200px;
  /* outline: solid red; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@keyframes linke {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(20px);
  }
  100% {
    transform: translate(-600px);
  }
}
.studio-header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.portfolio-header {
  padding-top: 24px;
  padding-bottom: 0px;
}

.header-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-titel {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
}

.header-subtitel {
  color: #000;
}

.header-links {
  display: flex;
  margin-left: 93px;
  margin-right: 318px;
  gap: 50px;
}

.header-item {
  position: relative;
}

.header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
  color: #2196f3;
}

.header-link:focus {
  color: #2196f3;
}

.header-activ::after {
  content: "";
  width: 42px;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  display: block;
  position: absolute;
  top: 44px;
  transition-property: transform, opacity;
  transition-duration: 250ms, 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-activ:hover::after {
  transform: rotate(360deg);
  opacity: 0;
}

.header-active::after {
  content: "";
  width: 70px;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  display: block;
  position: absolute;
  top: 44px;
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 250ms, 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-active:hover::after {
  transform: rotate(360deg);
  opacity: 0;
}

.header-contacts {
  display: flex;
  gap: 30px;
}

.header-contact {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacte:hover .header-contact {
  color: #2196f3;
}

.header-contact:focus {
  color: #2196f3;
}

.header-contacte:hover .mail {
  fill: #2196f3;
}

.header-contact:focus .mail {
  fill: #2196f3;
}

.mail {
  width: 16px;
  height: 12px;
  flex-shrink: 0;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone {
  width: 10px;
  height: 16px;
  flex-shrink: 0;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacte:hover .smartphone {
  fill: #2196f3;
}

.header-contact:focus .smartphone {
  fill: #2196f3;
}

.header-contacte {
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-line {
  border: 1px solid #ececec;
  width: 100%;
  margin-top: 30px;
}

.effective {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url();
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.effective-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.effective-box {
  width: 696px;
  height: 120px;
}

.effective-info {
  padding-top: 94px;
  padding-bottom: 118px;
}

.effective-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.effective-button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background-color: #2196f3;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  margin-top: 30px;
}

.effective-list {
  display: flex;
  gap: 30px;
}

.effective-item {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.effective-item:nth-child(1)::before {
  content: " ";
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
  width: 270px;
  height: 120px;
  background-image: url(./img/antenna.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.effective-item:nth-child(2)::before {
  content: " ";
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
  width: 270px;
  height: 120px;
  background-image: url(./img/clock.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.effective-item:nth-child(3)::before {
  content: " ";
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
  width: 270px;
  height: 120px;
  background-image: url(./img/diagram.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.effective-item:nth-child(4)::before {
  content: " ";
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
  width: 270px;
  height: 120px;
  background-image: url(./img/astronaut.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.effective-subtitle {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.effective-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.work {
  padding-bottom: 94px;
}

.work-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.work-photo {
  width: 370px;
}

.work-cotainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-bg {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding: 27px 0;
  position: absolute;
  top: 224px;
}

.work-item {
  position: relative;
}

.work-subtitle {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team-item {
  background-color: #fff;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-photo {
  width: 270px;
  margin-bottom: 30px;
}

.team-name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-info {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}

.team-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #757575;
}

.team-i {
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-i:hover {
  background-color: #2196f3;
}

.team-link:focus .team-i {
  background-color: #2196f3;
}

.team-i:hover .team-icon {
  fill: #fff;
}

.team-link:focus .team-icon {
  fill: #fff;
}

.team-lists {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
}

.client-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
  gap: 30px;
}

.client-item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.client-titel {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.client-item:hover {
  border-color: #2196f3;
}

.client-item:hover .client-icon {
  fill: #2196f3;
}

.footer-minititel {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}

.footer-title {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}

.footer-subtitle {
  color: #fff;
}

.footer-adres {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}

.footer-infos {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-info {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #fff;
}

.footer-i {
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-i:hover {
  background-color: #2196f3;
}

.footer-i:hover .footer-icon {
  fill: #fff;
}

.footer-lists {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.footer-box {
  width: 206px;
  height: 80px;
  margin-left: 70px;
  padding-top: 14px;
}

.footer-box1 {
  display: flex;
  flex-direction: column;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-form {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.footer-box2 {
  padding-top: 14px;
  margin-left: 93px;
}

.portfolio {
  padding-bottom: 94px;
}

.links {
  padding-bottom: 50px;
  padding-top: 94px;
  animation-name: linke;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: reverse;
}

.portfolio-items {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.portfolio-link {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  background: #f5f4fa;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
  background-color: #2196f3;
  color: #fff;
}

.portfolio-link:focus {
  background-color: #2196f3;
  color: #fff;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: 370px;
  height: 404px;
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;
  position: relative;
  /* overflow: hidden; */
}

.portfolio-item:hover .overlay {
  opacity: 1;
  transform: translate(0px, -404px);
}

.overlay {
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  right: 0;
  top: 404px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 250ms, 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  width: 322px;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-photo {
  width: 370px;
  height: 294px;
}

.portfolio-name {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.portfolio-box {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-info {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.backdrop {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.mod {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  position: relative;
  margin: auto;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.mod-icone {
  width: 18px;
  height: 18px;
}

.mod-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background: #fff;
  position: absolute;
  right: 8px;
  top: 8px;
}

.mod-title {
  margin-bottom: 2px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  width: 448px;
}

.mod-item {
  position: relative;
}

.mod-text {
  width: 41px;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.mod-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-item:hover .mod-input {
  border: 1px solid #2196f3;
}

.mod-item:hover .mod-icon {
  fill: #2196f3;
}

.mod-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 29px;
  bottom: 11px;
}

.mod-inpute {
  padding: 12px 16px 94px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-inpute:hover {
  border: 1px solid #2196f3;
}

.mod-link {
  color: #2196f3;
  text-decoration-line: underline;
}

.mod-boxe {
  display: flex;
}

.mod-box {
  margin-right: 10px;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
}

.mod-button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

.no-scroll {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */