.portfolio {
    padding-bottom: 94px;

    &__line {
      height: 1px;
      width: 100%;
      background: #ECECEC;
    }
    
   
    
    &__list {
      @include flex ($content:center ,$gap: 30px);
      flex-wrap: wrap;
    }
    
    &__item {
      min-width: 290px;
      max-width: 450px;
      height: 404px;
      flex-basis: calc((100% - 30px) / 1);
      border: 1px solid $gray-color;
      position: relative;
      overflow: hidden;
      @media screen and (min-width: 1200px){
        flex-basis: calc((100% - 60px) / 3);
        width: 370px;
        height: 404px;
       }
    }
    
    
    &__item:hover {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }

    &__overflow {
      @extend %size;
      overflow: hidden;
    }
    
    &__photo {
      @extend %size;
    }

    &__overflow:hover  .overlay{
      opacity: 1;
      transform: translate(0px, -404px);
      }
    
    &__name {
      color: $text-color;
      @include text (18px, 700 , 2, 1.08);
    }
    
    &__box {
      padding-top: 10px;
      padding-left: 24px;
      padding-right: 24px;
      @media screen and (min-width: 390px){
        padding-top: 20px;
       }
    }
    
    &__info {
      color: $mini-text-color;
      @include text (16px, 400 , 1.87, 0.48);
    }
  }
  
  .links {
    padding-bottom: 50px;
    padding-top: 94px;
    animation-name: linke;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction:reverse;
  }
  

  .overlay {
  @extend %size;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  left: 0;
  top: 404px;
  @include flex ();
  padding: 24px;
  opacity: 0;
  transition-property:transform,opacity;
  transition-duration:250ms,500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
  .overlay-text {
   width: 242px;
    height: 100%;
    @media screen and (min-width: 400px){
      
      min-width: 242px;
    max-width: 370px;
     }
    @include flex ();
  color: $title-color;
  font-family: Roboto;
  @include text (18px, 400 , 1.55, 0.54);
  font-style: normal;
  transition-property:box-shadow;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px){
    width: 322px;
   }
  }