body {
    font-family: Roboto;
  }
  
.container {
    /* outline: solid red; */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    min-width: 480px;
    @media screen and (min-width: 320px){
      width: 1200px;
    }
}