
.work {
    padding-bottom: 94px;


    &__title {
      @extend %text;
      @include text (36px, 700 , 1.16, 1.08);
      margin-bottom: 50px;
    }
    
    &__photo {
      width: 370px;
    }
    
    &__cotainer {
      @include flex (center, $content, column, $gap);
    }
    
    &__list {
      @include flex ($items, $content, $direction, 30px);
    }
    
    &__bg {
      width: 370px;
      height: 70px;
      background: rgba(47, 48, 58, 0.8);
      text-align: center;
      padding: 27px 0;
      position: absolute;
      top: 224px;
    }
    
    &__item {
      position: relative;
    }
    
    &__subtitle {
      color: #fff;
    
      font-family: Roboto;
      @include text (14px, 700 , normal, 0.42);
      font-style: normal;
      text-transform: uppercase;
    }
  }
  
  