@mixin text ($size , $weight,$height,$spacing) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
}

@mixin flex ($items: center, $content: none, $direction: row, $gap: 0px){
    display: flex;
    align-items: $items;
    justify-content: $content;
    flex-direction: $direction;
    gap: $gap;
}

@mixin transition ($property: color){
    transition-property:$property;
    transition-duration:250ms,500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}