$text-color: #212121;
$mini-text-color: #757575;
$background-color-team: #f5f4fa;
$acxent-color: #2196f3;
$background-color-hiro: #2f303a;
$title-color: #fff;
$logo: #000;
$footer-text-color: rgba(255, 255, 255, 0.6);
$gray-color:#eee;
$gray-cliant-color:#afb1b8;