.header {
    padding-top: 24px;
    padding-bottom: 25px;


    &__container {
      @include flex (center, $content, wrap, $gap);
    }
    
    &__titel {
      color: $acxent-color;
      font-family: Raleway;
      @include text (26px, 700 , 1.38, none);
    }
    
    &__subtitel {
      color: $logo;
    }
    
    &__links {
      display: flex;
      margin-left: 93px;
      margin-right: 318px;
      gap: 50px;
    }
    
    &__item {
      position: relative;
    }
    
    &__link {
      color: $text-color;
      @include text (14px, 500 , 1.14, none);
      @include transition (color);
    }
    
    &__link:hover {
      color: $acxent-color;
    }
    
    &__link:focus {
      color: $acxent-color;
    }
    
    
    &__activ::after {
      content: "";
      width: 42px;
    height: 4px;
    border-radius: 2px;
    background: $acxent-color;
    display: block;
    position: absolute;
    top: 44px;
    @include transition (transform,opacity);
    }
    
    &__activ:hover::after{
      transform: rotate(360deg);
      opacity: 0;
    }
    
    &__active::after {
      content: "";
      width: 70px;
    height: 4px;
    border-radius: 2px;
    background: $acxent-color;
    display: block;
    position: absolute;
    top: 44px;
    opacity: 1;
    @include transition (transform,opacity);
    }
    
    &__active:hover::after{
      transform: rotate(360deg);
      opacity: 0;
    }
    
    &__contacts {
      @include flex ($items, $content, $direction, 30px);
    }
    
    &__contact {
      color: $mini-text-color;
      @include text (14px, 500 , 1.14, 0.28);
      @include transition (color);
    }
    
    &__contacte:hover &__contact {
      color: $acxent-color;
    }
    
    &__contact:focus {
      color: $acxent-color;
    }
    
    &__contacte:hover .mail {
      fill: $acxent-color;
    }
    
    &__contact:focus .mail {
      fill: $acxent-color;
    }
       
    &__contacte:hover .smartphone {
      fill: $acxent-color;
    }
    
    &__contact:focus .smartphone {
      fill: $acxent-color;
    }
    
    &__contacte {
      @include flex (center, $content, $direction, 10px);
      @include transition (color);
    }
    
    &__line {
      border: 1px solid #ececec;
      width: 100%;
      margin-top: 30px;
    }
  }
  
  .mail {
    width: 16px;
    height: 12px;
    flex-shrink: 0;
    fill: $mini-text-color;
    @include transition (fill);
  }
  
  .smartphone {
    width: 10px;
    height: 16px;
    flex-shrink: 0;
    fill: $mini-text-color;
    @include transition (fill);
  }